/* ------- Responsive -------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .nav-out-item p {
        display: block !important;
    }
    .gallery-list > div {
        margin-top: 0 !important;
    }
    
    .channel-content {
        flex-flow: row !important;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .px-md-10-p {
        padding: 0px 10% !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}
