
@import url(asset\css\base.css);
/* ------- Responsive -------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) and (max-width: 575px) { 

    #_001-h {
        justify-content: center;
    }
    #h-status {
        display: none;
    }
    #title-header {
        width: 100%;
        justify-content: center;
    }
    .update-date {
        line-height: 48px;
    }
    .title-name {
        display: none;
    }

    .download-btn i{
        margin: 0 8px 0 2px;
    }

    .resume__jobTitle {
        font-size: 22px;
    }
    .resume__status {
        width: 130px;
        text-align: center;
    }



}


@media (min-width: 576px) { 
    #title-header {
        width: 316px;
    }

    .download-btn i{
        margin: 0 8px 0 2px;
    }

    #_001-h {
        justify-content: center;
    }

    .resume__info {
        padding-left: 30px;
    }

    .resume-content-title {
        padding-top: 10px;
        box-shadow: var(--boxShadow-material-1);
        border-radius: 8px;
    
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .nav-out-item p {
        display: block !important;
    }
    .gallery-list > div {
        margin-top: 0 !important;
    }
    
    .channel-content {
        flex-flow: row !important;
    }

    #title-header {
        width: fit-content;
    }

    .download-btn i{
        margin-right: 0;
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .px-md-10-p {
        padding: 0px 10% !important;
    }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

}
