@import url(./base.css);
@import url(../icon/fontawesome-free-5.15.3-web/css/all.min.css);
@import url(./button-card.css);
@import url(./notify.css);


/* .main-background {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: url('../img/pattern.svg');
    z-index: -1;
    opacity: 8%;
    background-size: cover;
} */


.header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo a {text-decoration: none;}
.header-logo h1 {
    font-size: 38px;
    font-family: title-font;
    color: var(--theme-color-5);
}

.header-nav {
    width: 56rem;
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    height: 100%;
    align-items: center;
    justify-items: center;
}

.header-nav > a {
    font-weight: bold;
    font-size: 11px;
    width: 70%;
    height: 100%;
    text-align: center;
    line-height: 60px;   
    text-transform: uppercase; 
}
.header-nav-item {
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    position: relative;
}
.header-nav-item::before {
    content: "";
    height: 6px;
    background: var(--theme-color-1);
    position: absolute;
    left: 0;
    bottom: 0;
    right: 100%;
    transition: right .3s;
}
a:hover { color: black !important;}

.header-nav-item:hover::before  {
    right: 0;
    transition: left .3;
}

@keyframes nav-hover {
    from {left: 0;}
    to { right: 0;}
}



.header-btn {
    width: 30px;
    justify-self:self-end;
}


/* ----- Wrapper ------- */
.wrapper {
    margin-top: 20px;
    width: 100%;
    min-height: 50vh;
    display: grid;  
}
.intro {
    min-height: 200px;
    display: flex;
    align-items: center;
    position: relative;
}
.intro-text  {
    width: 40%;
    height: 100%;
    text-align: left;
    align-items:center;
    font-size: 18px;
    display: grid;
        grid-template-rows: auto auto;
}
.intro-text-body{
    align-self:flex-end;
    font-size: 14px;
}
.intro-text-body > h1 {
    font-size: 28px;
}


.intro-frame  {
    width: 60%;
    /* height: 450px; */
    /* background: white; */
    display: flex;
    justify-content: center;
}

.intro-left {
    display: grid;
}

.intro-right {
    /* background: #fff; */
    width: 90%;
    height: 63vh;
    display: flex;
    justify-content: center;
    background: var(--theme-color-3);
    z-index: -1;
}



/* --------- Navigation outside-------- */
.nav-out {
    background: var(--theme-color-5);
    min-height: 100px;
    padding: 30px 0px;
}

.nav-out a {
    text-decoration: none;
}

.nav-out img {
    width: 12rem;
    transition: .2s;
}

.nav-out img:hover {
    transform: scale(1.2,1.2);
}

.nav-out--list {
    text-align: center;
}

.nav-out--list p {
    font-size: 24px;
    color: var(--theme-color-2);
    margin: 0;
}




/* --------- Interest --------- */
/* section {
    margin-top: 30px ;
    padding-top: 50px;
    padding-bottom: 50px;
} */
.interest {
    /* padding: 50px 0; */
    width: 100%;
    min-height: 200px;
    /* background: var(--theme-color-5); */
}
.interest h1 {
    color: var(--theme-color-5);
    margin: 0;
    line-height: 120px;
}



.interest-list {    
    min-height: 10%;
    /* margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
    box-sizing: border-box;
}

.interest-item {
    align-items: center;
}

.interest-item > div {
    background: var(--theme-color-3);
    min-width:100px;
    min-height: 300px;
    /* margin: auto; */
}

/* ------- Collection ------- */
.collection {
    height: 80vh;
}

/* ------- footer -------- */
.footer {
    height: 300px;
    width: 100%;
    /* background: var(--theme-color-5) ; */
    position: relative;
}

/* .footer::before {
    content: "";
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: url('../img/parttern.jpg') ;
} */

.background-pattern {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background: url("../img/pattern.svg") ;
    background-size: cover; 
    background-blend-mode: hard-light;
    opacity: .2;
}



