/* =============================== */
.mobile-disable {
    display: none;
}











/* =============== PROFILE _ AREA ================= */

.profile-main {
    width: 100%;
    min-height: 100vh;
    background: var(--background-7);
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}


.animation-background {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    animation: initial-Background ease 2s;
    animation-fill-mode: forwards;
    z-index: -1;
}

@keyframes initial-Background {
    0% {
        background: var(--background-4);
        opacity: 1;
        display: block;
    }
    100% {
        background: var(--background-4);
        opacity: 0;
        display: none;
    }

}

/* .background {
    background: var(--background-7);
    position: fixed;
    width: 100%;
    height: 100%;
} */

.profile-nav {
    width: 60rem !important;
    grid-template-columns: auto auto auto !important;
    /* position: absolute; */
    top: 0;
    height: 60px !important;
}

.profile-info{
    margin: auto;
    padding: 50px 20px 50px;
}

.profile-img {
    text-align: center;
}
.profile-img > img {
    width: 50%;
    border-radius: 100%;
    margin: auto;
}

.profile-content {
    padding: 40px 0px 0px;
    text-align: justify;
}


nav {
    width: 100%;
}

.profile-cover {
    width: 100%;
    height: 100vh;
    background: url('../img/profile-img/cover-profile.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
    top: -65px;
    z-index: -1;
    display: none;
    animation: initial-cover ease 2s;
}


@keyframes initial-cover {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.profile-cover > img {
    min-width: 100%;
    height: 100%;
}

.profile-contact-list {
    justify-content: center;
}


.contact-item a{
    margin-top: 30px !important;
    font-size: 24px;
    color: var(--theme-color-5);
    text-decoration: none;
    width: 40px;
    height: 40px;
}

.contact-item a:hover {
    color: var(--theme-color-1) !important;
}

.info-list {

}

.info-item {

}

.info-header h1{
    font-size: 54px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
}

.info-bio p{
    font-size: 20px;
}


.checkout-list {
    list-style: none;
    padding-left: 0;
}

.checkout-list li {
    text-align: center;
}

.checkout {
    text-decoration: none;
    font-size: 24px;
    font-style: italic;
    font-weight:600;
    color: var(--theme-color-5);
    position: relative;
}

.checkout::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 8px;
    opacity: .7;
    /* top: 80%; */
    left: 0%;
    right: 100%;
    bottom: 20%;
    background: var(--theme-color-1);
    transition: .5s;
}

.checkout:hover {
    color:  var(--theme-color-5);
}
.checkout:hover::before {
    right: 0;
    width: 100%;
}

.resume-btn { 
    width: 100%;
    height: 60px;
    background: var(--theme-color-1);
    text-align: center;
    line-height: 60px;
}
/* =============== END - PROFILE _ AREA ================= */


/* =============== BLOG _ AREA ================= */
.blog-main {
    width: 100%;
    min-height: 100vh;
    background: var(--background-4);
    position: relative;
    z-index: 0;
    box-sizing: border-box;
}

.blog-nav {
    justify-items: flex-end;
}

.blog-cover {
    width: 100%;
    height: 100vh;
    background: url('../img/blog-img/DSC05867.jpg');
    background-size: cover;
    background-position: bottom;
    position: relative;
    top: -65px;
    z-index: -1;
    display: none;
    animation: initial-cover ease 2s;
}
.blog-content {
    margin: auto;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.description-section {
    margin: 20px 0px 20px 0px;
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.blog-content-section { 
    margin: 20px 0px;
    width: 100%;
    min-height: 200px;
    border-radius: 8px;
    padding: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.blog-title {
    font-size: 28px;
    font-weight: bold;
}

.blog-item {
    padding: 20px 0px;
    display: block;
    text-decoration: none;
    transition: .3s;
}

.blog-item:hover {
    transform: scale(1.1,1.1);
    background: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



.blog-post-group {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.blog-item-content > h2 {
    color: #0093E9;
    margin-top: 20px;
}

.blog-item-author p{
    font-size: 10px;
}

.blog-item-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.blog-catalogue-nav {
    position: fixed;
    top: 30%;
    left: 70%;
    
}

.catalogue-list {
    list-style: none;
    width: 150px;
    padding-left: 0;
    min-height: 100px;
    /* background: var(--background-4); */
    border-radius: 10px;
}

.catalogue-item {
    padding: 10px 0px;
    text-align: center;
}

.catalogue-item a  {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: var(--theme-color-5);
    opacity: .4;
}

.catalogue-list:hover { 
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

.catalogue-list:hover a {
    opacity: 1;
}
.catalogue-item:hover a {
    color: var(--theme-color-1);
}

.catalogue-list:hover {
    background: var(--background-4);
    animation: changeBackgroundNav ease 1s;
    animation-fill-mode: forwards;
}

@keyframes changeBackgroundNav {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* =============== END - BLOG _ AREA ================= */



/* =============== PLAYGROUND ================= */

.playground-content {
    margin: auto;
    display: flex;
    justify-content: start;
    flex-flow: wrap row;
    padding: 0 5%;
}

.playground-catalogue-nav {
    position: fixed;
    height: 100vh;
    width: 200px;
    top: 30%;
    left: 5%;
}

.playground-content {
    margin: auto;
    display: flex;
    justify-content: start;
    flex-direction: row;
}

.playground-side-nav {
    margin: 20px 0px;
    padding: 20px 0px;
}

.playground-description {
    border-radius: 8px;
}

.playground-header-img img { 
    width: 150px;
}

.playground-content-section { 
    margin: 20px 0px;
    width: 100%;
    min-height: 300px;
    border-radius: 8px;
    padding: 30px 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}



.playground-group {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    display: flex;
    flex-wrap: wrap;
}

.playground-cover img{
    flex-basis: 100px;
    transition: .2s;
}

.playground-cover > div {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    border-radius: 8px;
}

.playground-cover:hover img{
    transform: scale(1.2,1.2);
    cursor: pointer;
}

.app {
    display: flex;
}



.app-i {
    margin-top: 20px !important;
    transition: .2s;
    border-radius: 8px;

}

.app-btn {
    display: block;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    border-radius: 4px;
    letter-spacing: 2px;
    border: 2px solid var(--theme-color-5);
    position: relative;
    color: var(--theme-color-5);
}


.app-btn:hover {
    animation: space-letter ease .5s;
    animation-fill-mode: forwards;
    background: var(--background-13-strong-bliss);
    color: #fff;
}

@keyframes space-letter {
    from {
        letter-spacing: 2px;
    }
    to {
        letter-spacing: 8px;
    }
}

@keyframes btn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.app-description {
    display: flex;
    flex-flow: column;
    padding-top: 20px;
    padding-bottom: 40px;
    align-items: center;
    text-align: center;
    /* justify-content: space-evenly; */
}

.app-cover-img {
    margin-top: 20px;
}
.app-cover-img img {
    width: 100%;
    height: 200px;
    align-self: center;
    object-fit: cover;
    /* padding: 10px; */
    border-radius: 8px;
}

.cover-img {
    width: 100% !important;
}


/* =============== END - PLAYGROUND ================= */






/* ------- Responsive -------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    .header-nav {
        
    }
    .zero-m-p {
        padding: 0 !important;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .profile-main {
        height: 200vh;
    }

    .contact-item a{
        margin-top: 30px !important;
        font-size: 20px;}

    .checkout-list li {
        text-align: left;
    }

    .blog-post-group {
        padding-left: 40px !important;
    }
    .blog-item-img {
        width: 300px;
        height: 200px;
    }
    .blog-item-content > h2 {
        margin: 0;
    }


    .playground-content {
        padding: 0 10% !important;
    }
    .app-cover-img {
    }
    .app-cover-img img {
        width: 230px;
        margin-top: 0;
    }

    .app:hover .app-i {
        transform: scale(1.2,1.2);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        background: #fff;
        padding: 10px;
    }

    .app-description {
        display: flex;
        flex-flow: column;
        padding-top: 20px;
        padding-bottom: 40px;
        align-items: flex-start;
        text-align: left;
        /* justify-content: space-evenly; */
    }
 }



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .mobile-disable {
        display: block;
    }
    .blog-post-group {
        padding-left: 0px !important;
    }

 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
   
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  
 }



