@import url(asset\css\base.css);

.rsm2_title {
    font-size: 34px;
    font-weight:normal;
    color: var(--color-red);
    text-transform: uppercase;
    transition: .4s;
}

.rsm2_block:hover .rsm2_title {
    letter-spacing: 4px;
}

.rsm2_font__boxTitle {
    font-size: 16px;
    font-weight: 700px;
    color: var(--black-color);
}

.rsm2_font__subTitle {
    font-size: 16px;
    font-style: italic;
    color: var(--font-color-gray);
    opacity: 50%;
}

.rsm2_font__subTitle2 {
    font-size: 16px;
    font-weight: bold;
    color: var(--black-color);
}

/* ---------- */
.rsm2_block {
    width: 100%;
    padding: 20px;
    box-shadow: var(--boxShadow-material-2);
    border-radius: 6px;
    z-index: 10;
    margin: 10px 0;
}
.rsm2_block:hover {
    box-shadow: var(--boxShadow-material-1);
    cursor: pointer;
}

.tab-btn {
    color: var(--white-color);
    border: 2.5px solid #000;
    display: block;
    font-size: 20px;
    width: 150px;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: flex; 
        align-items: center;
        justify-content: space-around;
    transition: .4s;
}


.tab-block {
    display: flex;
    flex-direction: row;
}

.tab-btn i {
    font-size: 18px;
}
.tab-btn {
    margin: 10px;
    line-height: 22px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    color: var(--black-color);
}

.tab-btn:hover i,
.tab-btn:hover p {
    color: var(--white-color);
}

.tab-btn:hover{
    background: var(--black-color);
    border: 2.5px solid #000;
    color: var(--white-color);
    /* width: 170px;     */
}

.btn__active {
    background-color: var(--black-color);
    color: var(--white-color) !important;
}

.flex-box {
    flex-grow: 2 !important;
}