@import url('/asset/css/base.css'); 


.timeline-section   {
    width: 100%;
    padding: 20px 0;
    
}

.timeline-block {
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-flow: row;
    margin-left: 0 !important;
    margin-bottom: 32px;
    padding: 10px;
    transition: all 0.4s ease;
}

.timeline-block:hover {
    border-radius: 6px;
    box-shadow: var(--boxShadow-material-2);
}

.timeline-block:hover .timeline__time {
    background: var(--color-red);
}

.timeline-block:hover .timeline__title {
    letter-spacing: 4px;
    color: var(--color-red);
}   

.timeline-block:hover .tl_lastLine::after, .timeline-block:hover .tl_line::after {
    background: var(--color-red);
    border: 4px solid var(--color-red);
}  


/* ------ TIME ---------- */

.timeline__time {
    /* min-width: 120px; */
    width: fit-content;
    height: 32px;
    line-height: 28px;
    padding: 4px 16px;
    text-align: center;
    border-radius: 6px;
    background: var(--color-black);
    color: var(--white-color);
    margin-top: 28px !important;
}


.timeline__time p {
    color: var(--white-color);
    text-transform: uppercase;
}

/* ------ CONTENT ------- */

.timeline__content {
    margin-left: 66px;
    height: 100%;
    /* border-left: 1px solid var(--color-red); */
}


.timeline__subtitle {
    font-style: italic;
    color: var(--color-black);
    font-size: 16px;
}

.timeline__title {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-black);
    font-size: 26px;
    transition: all 0.4s ease;
}

.timeline__Description {
    color: var(--color-black);
    font-size: 16px;
}

.timeline__res {
    font-size: 14px;
}

.tl_line { 
    position: relative;
    background: transparent;
}

.tl_line::after {
    position: absolute;
    content: '';
    left: -34px;
    top: 34px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-black);
}

.tl_line::before {
    position: absolute;
    content: '';
    top: 40px;
    left: -26px;
    top: 8px;
    width: 4px;
    height: 129%;
    background-color: var(--color-black);
    opacity: 0.8;
}   

.tl_lastLine { 
    position: relative;
}

.tl_lastLine::after {
    position: absolute;
    content: '';
    left: -34px;
    top: 34px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-color: transparent;
    border: 4px solid var(--color-black);
    background: var(--color-black);
}

