@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Varela+Round&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Varela Round', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

:root {
    --color-primary : #0F00FF;
    --color-secondary-1: #1597E5;
    --color-secondary-2: #09009B;
    /* --color-other-1: #FFA400; */
    --color-other-1: #77ACF1;
    --white-color: #fff;
    --back-color: #000;
    --black-color: #212121;
    --black-color-1: #334756;
    --background-1: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    --background-2: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    --background-3: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    --background-4: linear-gradient(to top, #bdc2e8 0%, #bdc2e8 1%, #e6dee9 100%);
    
}


body {
    /* background-image: var(--background-4); */

    background-image: linear-gradient(-225deg, #AC32E4 0%, #7918F2 48%, #4801FF 100%);
    display: flex;
    justify-content: center;
    min-height: 140vh;
}

.container {    
    width: 500px;
    height: 300px;
    /* background-color: var(--color-secondary-1); */
    padding: 40px 20px 20px;
    box-sizing: border-box;
}

.webAppTitle {
    font-size: 38px;
    font-weight: 400;
    letter-spacing: 2px;
    margin: 0px 0px 40px;
    padding-bottom: 14px;
    color: var(--white-color);
    display: block;
    width: 100%;
    border-bottom: 1px solid var(--white-color);
}

.information-box {
    width: 100%;
    padding: 20px;
    background-image: var(--background-3);
    border-radius: 8px;
}

.information-title {
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 20px;
    color: var(--black-color-1);
}

.information-body {
    font-size: 12px;
    font-weight: 450;
    line-height: 20px;
    color: var(--black-color-1);
}

.information-link {
    font-size: 12px;
    display: block;
    padding-top: 30px;
    /* line-height: 40px; */
    font-weight: 900;
    text-decoration: none;
    color: #113CFC;
}

.label {
    color: var(--white-color);
    font-size: 38px;
}


.value-box {
    width: 100%;
    margin-top: 40px;
    /* background-color: var(--color-secondary-1); */
    display: flex;
    /* grid-template-columns: 2fr 1fr; */
    flex-flow: wrap;
    justify-content: space-between;
}

.data-box{
    width: 100%;
    height: 48px;
    /* background-color: var(--color-other-1); */

    /* background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
    background-blend-mode: multiply; */
    
    background-color: #082032;
    /* background-color: #FF8882; */
    border-bottom: 4px solid var(--white-color);
    margin-top: 10px;
    border-radius: 8px;
    
    display: flex;
    justify-content: space-around;
}

.input{
    align-self: center;
    position: relative;
}


.input-field, .output-field {
    flex-basis: 1;
    width: 98px;
    background-color: transparent;
    border: none;
    outline-color: unset;
    outline-offset: unset;
    font-size: 18px;
    font-weight: 400;
    /* border-right: 2px solid var(--white-color); */
    height: 30px;
    align-self: center;
    position: relative;
    text-align: center;
    font-weight: 500;
    color: var(--white-color);
}

.result-area {
    background: #000000;
    border-bottom: 4px solid #F05454;
}
.result-area > .output-field {
    color: #C0FEFC;
}

.select-box {
    width: 80px;
    position: absolute;
    min-height: 50px;
    border-radius: 4px;
    background-color: var(--white-color);
    padding: 10px 6px;
    z-index: 1;
    list-style: none;
    top: 50px;
    display: none;
}


.option {
    margin-top: 6px;
    text-align: -webkit-center;
    padding: 6px;
    font-weight: 500;
    display: block;
}
.option:hover {
    background-color: #FFC288;
    border-radius: 4px;
    cursor: pointer;
}

.input-field:last-child , .output-field:last-child {
    border: none;
}

.output-field {
    /* line-height: 48px; */
    font-size: 28px;
    text-align: -webkit-center;
    align-self: center;
    user-select: none;
    color: #345B63;
}

label {
    margin-top: 4px;
    font-size: 14px;
    color: #345B63;
    font-weight: 400;
}

.input-field:focus ~ .select-box {
    display: block;
}

#cycle {
    text-align: center;
}


select,input {
    outline:none;
    text-align: -webkit-center;

}


.mobile {
    display: none;
}

.desktop {
    display: block;
}




@media only screen and (max-width: 1023px) {
    .mobile{
        display: block;
    }
    .desktop {
        display: none;
    }
  }