@import url('/asset/css/base.css'); 


/* .resume-main {} */

.sticky {
    position: sticky;
    top: 10;
}

.resume-header { 
    margin-top: 10px;
    height: 48px;
    border-radius: 8px;
    padding: 0px 10px;
    display: flex;
        justify-content: space-between;
        align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

#title-header {
    height: 42px;
    align-content: center;
    align-self: center;
    display: flex;
}

#h-status {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius: 50%;
    align-self: center;
}

#title-header .title-name {
    font-weight: 700;
    color: var(--black-color);
    margin: 0px;
    text-transform: uppercase;
}

#title-header .update-date {
    font-size: 12px;
    color: #454545ab;
    text-align: center;
    margin: 0px;
}

.download-btn {
    color: var(--white-color);
    border: 2.5px solid #000;
    display: block;
    font-size: 20px;
    width: 150px;
    padding: 5px 5px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    display: flex; 
        align-items: center;
        justify-content: space-around;
    transition: .4s;
}

.download-btn i {
    font-size: 18px;
}
.download-btn p {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bolder;
    margin: 5px 0 0;
    color: var(--white-color);
}

.download-btn:hover i,
.download-btn:hover p {
    color: var(--black-color);
}

.download-btn:hover{
    background: var(--white-color);
    border: 2.5px solid #000;
    /* width: 170px;     */
}


/* ---------- RESUME BODY ----------- */

.resume-body {
    padding: 40px 20px 80px;
    width: 100%;
    min-height: 100vh;
    background: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    z-index: 2;
    position: relative;
}

.resume-content-title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* padding-bottom: 24px; */
    border-bottom: 4px solid var(--color-gray-1);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

}

.profile-avata {
    flex-flow: column;
    align-self: center;
}

.profile-avata img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
}

.status-border {
    border: 6px solid ;
}

.border-available {
    border-color:  var(--color-green);
}

.border-working {
    border-color:  var(--color-red);
}


.status {
    display: block;
    width: 50%;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    align-self: center;
}

.st-available {
    background: var(--color-green);
    color: #fff;
}
.st-working {
    background: #eb6060;
}
.st-waiting {
    background: #f7e463;
}

.st-available-text {
    color: var(--color-green);
}
.st-working-text {
    color: #eb6060;
}
.st-waiting-text {
    color: #f7e463;
}


.profile-avata { 
    position: relative;
    display: flex;
        justify-content: flex-end;
    z-index: 1;
}

/* .profile-avata::after {
    content: "";
    position: absolute;
    top: -10px; left: 0px; right: 20px; bottom: 20px;
    background: var(--background-11-deep-blue);
    z-index: -1;
} */

.resume__JobS {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: start;
    }

.resume__jobTitle {
    font-size: 32px;
    font-weight: 600;
    color: var(--theme-color-5);
    letter-spacing: -2px;
}

.resume__status {
    line-height: 32px;
    /* width: fit-content; */
    padding: 10px;
    display: block;
    align-self: center;
    border-radius: 8px;
    margin-left: 20px;
    padding: 4px 6px 0px 6px;
    letter-spacing: -1px;
}

.resume__status p {
    font-size: 14px;
    padding: 0px 6px;
    color: #fff;
    align-self: center;
    margin-bottom: 0px;
}


.resume__info {
    display: flex;
    flex-flow: wrap column;
        justify-content: space-between;
    padding-bottom: 34px;
    /* border-bottom: 1px solid rgba(29, 53, 87,0.4); */
}

.resume__name {
    font-size: 42px;
    font-family: var(--font);
    font-weight: 900;
    color: var(--theme-color-5);
    text-transform: uppercase;
}


/* ---------- CONTACT INFORMATION ----------- */

.resume__contact {
    width: 300px;
    display: flex;
    /* padding-left: 14px; */
    /* border-left: 2px solid var(--theme-color-5); */
    flex-flow: wrap column;

}

.resume__contact-listcontact {
    display: flex;
    flex-flow: column nowrap;
    /* align-self: center; */
    /* box-shadow: var(--boxShadow-material-1); */
}

.rsm-contact-item {
    min-width: 10px;
    align-self: baseline;
    padding-right: 10px;
    line-height: 34px;
    height: 34px;
    text-decoration: none;
    display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
    position: relative;
    z-index: 1;
    transition: .2s;
}

.rsm-contact-item i {
    width: 24px;
    font-size: 16px;
    color: var(--theme-color-5);
}

.rsm-contact-item p{
    margin: 0;
    font-size: 14px;
    color: var(--theme-color-5);
}

.rsm-contact-item::after {
    position: absolute;
    content: "";
    top: 0; left: 0; bottom: 0; right:100%;
    transition: .5s;
    z-index: -1;
}

.rsm-contact-item:hover p, .rsm-contact-item:hover i {
    color:  #fff;
}

.rsm-contact-item:hover {
    padding-left: 10px;
}

.rsm-contact-item:hover::after {
    right: 0;
    background: var(--color-black);
    border-radius: 6px;
}


/* ------------- CONTENT --------------- */

.resume-content-main {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.rsm__mainly_content {
    padding-right: 18px;
}

.rsm__side_content {
    padding-left: 20px;
    border-left: 1px solid rgba(29, 53, 87,0.4);
}

.rsm__content {
    padding-top: 32px;
}

.rsm__content p{
    font-size: 14px;
    text-align: justify;
}

.rsm__content-title {
    padding-left: 14px;
    width: 100%;
    height: 30px;
    line-height: 34px;
    font-size: 18px;
    color: #fff;
    background: var(--background-11-deep-blue);
    font-weight: 800;
    letter-spacing: 2px;
    cursor: pointer;
    transition: .4s;
    font-family: var(--font);

}

.rsm__content-title:hover { 
    letter-spacing: 4px;
}

.rsm__content-content {
    padding: 14px 0px;
}
.rsm__content-content--title {
    margin-top: 20px;
    display: grid;
        grid-template-areas: 'mainContent mainContent subContent';
}

.rsm__content-content--title--main {
    grid-area: mainContent;
}

.rsm__content-content--title--main h3 {
    text-transform: uppercase;
    font-weight: 800;
}

.rsm__content-content--title--sub {
    grid-area: subContent;
    justify-self: flex-end;
}

.rsm__content-content--title--sub h4 { 
    font-weight: 700;
}

.rsm__content-content--title--sub p{
    text-align: right;
}

.rsm__content-content--description ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    font-family: var(--font);
    opacity: .8;
}


/* ------ Resume Footer -------- */
.rsm__footer {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    border-radius: 0px 0px 8px 8px  ;
    height: 40px;
    /* background: var(--background-11-deep-blue); */
}