.app-main {
    width: 100%;
    min-height: 100vh;
    /* background: var(--background-8); */
    z-index: -1;
    animation: backgroundIn ease 1s;
    animation-fill-mode: forwards;
}    

@keyframes backgroundIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
    
.app-header {
    display: flex;
    height: 60px;
}
.app-header a {
    height: 40px;
    color: var(--theme-color-5);
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding-top: 16px;
}

.initial-background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;

}



/* ========== MUSIC ========= */

.option-list {
    margin-top: 30px;
    list-style: none;
    padding-left: 0;
}

.option-item {
    display: block;
    background: var(--background-13-strong-bliss);
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    padding: 10px;
    text-decoration: none;
    color: #464542;
    border-radius: 8px;
    /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
    display: flex;
    align-items: center;
    justify-content: start;
}

.option-item > i {
    width: 40px;
    font-size: 24px;
    border-right: 2px solid #464542;
}
.option-item > p {
    padding-left: 10px;
    margin:0;
}

.option-item:hover {
    /* color: #fff; */
    background: var(--background-10-saint-petersburg);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.audio-play {
    background: var(--background-10-saint-petersburg);
    border-radius: 8px;
    width: 100%;
    height: 50px;
}

.music-item {
    width: 100%;
    height: 200px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 30px;
    display: flex;
        align-items: flex-end;
        justify-content: center;
    transition: .5s;
}

.music-item:hover {
    cursor: pointer;
    height: 400px;
}


audio {
    opacity: .7;
    width: 40%;
}

audio:hover {
    opacity: .95;
}

.background-audio {
    width: 100px;
}

.chill-background {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/personal-profile-32045.appspot.com/o/img%2Fchill-drink.jpeg?alt=media&token=234c1dad-b9a9-49a7-9c99-4938d4922942');
    background-position: center;
    background-size: cover;
}
.chill-background-2 {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/personal-profile-32045.appspot.com/o/img%2Fchill.jpg?alt=media&token=19b6902c-e4e3-465c-b0c0-9a5d1f9a6341');
    background-position: center;
    background-size: cover;
}
.chill-background-3 {
    background-image: url('https://firebasestorage.googleapis.com/v0/b/personal-profile-32045.appspot.com/o/img%2Fchill-2.jpg?alt=media&token=7897f507-23c8-4057-b5dd-2f382e4ad7c0');
    background-position: center;
    background-size: cover;
}

.boost-bg {
    background-image: url('/asset/img/playground-img/dont-givup-2.jpg');
    background-position: center;
    background-size: cover;
}


.boost-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.boost-item {
    /* padding: 20px; */
    border-radius: 8px;
    position: relative;
    width: 100%;
    margin: 20px 0px;
}

.boost-item img, iframe {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    transition: .5s;
    
}
.boost-item audio {
    position: absolute;
    bottom: 0%;
    left: 30%;
    opacity: 0;
    transition: .5s;
}

.boost-item-overlay {
    background: #000;
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    border-radius: 8px;
    opacity: 0;
}

.boost-item-quote {
    background: #494949;
    width: 300px;
    min-height: 20px;
    position: absolute;
    bottom: -60px;
    border-radius: 8px;
    padding: 10px;
    transition: .2s;
    transform-origin: top right;
    transform: scale(0,0);
    z-index: 1;
}

/* .boost-item-quote::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent #494949 transparent;
    position: absolute;
    top: -40%;
    right: 10px;
} */


.boost-item:hover .boost-item-quote {
    transform: scale(1,1);
}

.boost-item:hover audio{
    bottom: 36%;
    opacity: .9;
}
.boost-item:hover .boost-item-overlay {
    opacity: .2;
}



/* ------- Responsive -------- */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .option-item {
        width: 380px;
        height: 40px;
    }
    .boost-item {
        width: 49%;
    }
    .boost-item-quote {
        width: 100%;
    }
 }



/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 

 }
